html,
body {
  height: 100%;
  line-height: 160%;
  font-size: 14px;
  color: #3d3e50;
  font-family: "Didact Gothic", sans-serif;
}

/* - Positioning -------------------------------------- */
.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: center;
  align-items: center;
}

.form * {
  outline: none;
}

.form {
  max-width: 560px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.form__item {
  position: relative;
}

.form__input {
  margin-top: 20px;
}

.form__label {
  position: absolute;
  top: 8px;
  left: 15px;
  z-index: 1;
  justify-self: center;
}

/* - typography, decoration ------------------------------- */
.form__title {
  font-size: 24px;
  color: #6b4c62;
  text-shadow: 0 2px 0 #23262f3b;
  letter-spacing: 0.1em;
  line-height: 180%;
  margin: 0px;
  padding: 0px 0px 18px 0px;
  text-align: center;
  text-transform: uppercase;
}

.form__button {
  margin-bottom: 20px;
}

.form__input {
  color: #23262f;
  width: 250px;
  box-sizing: border-box;
  padding: 18px 15px 5px 15px;
  background-color: #ffffff;
  border: solid 1px #425b5f;
  border-radius: 8px;
  transition: all 0.5s ease 0s;
  text-align: center;
}

.form__input:focus {
  border: solid 1px #000000;
}

.form__label {
  background-color: #ffffff;
  padding: 0px 5px;
  overflow: hidden;
  text-align: center;
  color: #425b5f;
}

/* - Buttons ---------------------------- */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 8px;
  padding: 13px 30px;
  min-width: 60px;
  cursor: pointer;
  transition: background-color 0.5s ease 0s;
  box-shadow: 0 2px 0 #23262f3b;
}

.button_color-lilac {
  background-color: #85667c;
  margin-left: 15px;
}

.button_color-lilac:hover {
  background-color: rgb(236, 206, 224);
}
